<%= form_with(model: bull_put_spread, local: true) do |form| %>
  <% if bull_put_spread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bull_put_spread.errors.count, "error") %> prohibited this bull_put_spread from being saved:</h2>

      <ul>
        <% bull_put_spread.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :floor1 %>
    <%= form.text_field :floor1 %>
  </div>

  <div class="field">
    <%= form.label :floor2 %>
    <%= form.text_field :floor2 %>
  </div>

  <div class="field">
    <%= form.label :strike %>
    <%= form.text_field :strike %>
  </div>

  <div class="field">
    <%= form.label :expiration %>
    <%= form.date_select :expiration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
