<% provide(:title, "BPS") %>
<p id="notice"><%= notice %></p>

<h1>Bull Put Spreads</h1>

<table>
  <thead>
    <tr>
      <th>Floor1</th>
      <th>Floor2</th>
      <th>Strike</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bull_put_spreads.each do |bull_put_spread| %>
      <tr>
        <td><%= bull_put_spread.floor1 %></td>
        <td><%= bull_put_spread.floor2 %></td>
        <td><%= bull_put_spread.strike %></td>
        <td><%= bull_put_spread.expiration %></td>
        <td><%= link_to 'Show', bull_put_spread %></td>
        <td><%= link_to 'Edit', edit_bull_put_spread_path(bull_put_spread) %></td>
        <td><%= link_to 'Destroy', bull_put_spread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bull Put Spread', new_bull_put_spread_path %>

<div class="row">
  <div class="col text-center">
    <h1 class="bps">Bull Put Spreads</h1>
    
    <div class="row">
      <% @bull_put_spreads.each do |bps| %>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= bps.asset %> <%= number_to_currency(bps.strike) %></h5>
              <h6 class="card-subtitle mb-2 text-muted">Floor 1</h6>
              <p class="card-text"><%= number_to_currency(bps.floor1) %></p>
              <h6 class="card-subtitle mb-2 text-muted">Floor 2</h6>
              <p class="card-text"><%= number_to_currency(bps.floor2) %></p>
              <h6 class="card-subtitle mb-2 text-muted">DTE</h6>
              <p class="card-text dte"><%= bps.dte.to_i %> <%= 'day'.pluralize(bps.dte.to_i) %></p>
              <p class="card-text"><%= bps.expiration.strftime("%m-%d-%y") %></p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>

      <% end  %>
    </div>

  </div>
</div>